<link rel="stylesheet" href="/css/nav.css" type="text/css">

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo" href="/">CAU-Linked IN</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down menu">
        <li><a href="/users">흑우들</a></li>
        <li><a href="/posts">게시판</a></li>
        <% if(isAuthenticated){ %>
          <li><a href="/users/<%= currentUser.username %>">My Account</a></li>
          <li><a href="/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/users/new">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            <% } %>
      </ul>
    </div>
  </nav>
</div>
