<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
    <center>
      <h1>This is Jaesung Le..아니 This is CAU_LINKEDIN</h1>
    </center>
</body>

</html>
