<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/css/welcome.css">
</head>

<body>
  <% include ../partials/nav %>
  <div class="imgWrapper">
    <img src="/img/chaos.png" width="300vw" height="300vh"alt=chaos>
    <img src="/img/clug.png" width="300vw" height="300vh" alt=clug>
    <img src="/img/zeropage.png" width="300vw" height="300vh" alt=zeropage>
  </div>

  <center>
    <h5>
      이 페이지는 중앙대학교 소프트웨어학부 ChAOS, CLUG, ZeroPage의 도움으로 제작되었습니다.
      <hr>
      made by Bluayer
    </h5>
  </center>
</body>

</html>
